/* Estilos de el contenedor mas grande del footer, aqui estamos asignando una forma en columna para los 2 contenedores grandes */
footer {

  margin-top: 50px;
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

span {
  font-size: 25px;
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
  font-family: 'Rubik', sans-serif;
}


.list-item {
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: row;
  color: black;
  width: 100%;
  justify-content: space-between;
  gap: 8rem;
}

.integrantes {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  background-color: #8de6cd;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}


.img-github {
  width: 20px
}

.imagen-pokemon {
  width: 150px
}

.opciones {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #055c43;
  align-items: center;
  justify-content: center;
}

.list-options {
  list-style: none;

  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opcion-item {
  color: white;
  font-weight: 600;
  font-family: 'Rubik', sans-serif;
}

@media all and (min-width: 1050px) {
  .list-options {
    flex-direction: row;
  }
}
