
<footer>
    <!-- Contenedor con los 3 bloques de color rojo, blanco y azul -->
    
    <div class="integrantes">

        <span>Integrantes</span>
        <ul>
            <li *ngFor="let item of integrantes"
                class="list-item">
                <p>{{ item.nombre }}</p>

                <a *ngIf="item.url.length > 0" [href]="item.url">
                    <img    src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                            class="img-github">
                </a>
            </li>
        </ul>
    </div>

    <div class="opciones">

        <img    src="../../../assets/agua-pok.png"
                class="imagen-pokemon">
        <ul class="list-options">
            <li *ngFor="let item of opciones"
                class="mb-3">
                
                <a [routerLink]="item.path"
                    class="opcion-item">{{ item.name }}</a>
            </li>
        </ul>
    </div>
</footer>
