
<div class="container">

    <div class="botones-container">
        <button class="btn btn-success" routerLink="/admin/agregar">Agregar producto</button>
        <button class="btn btn-success" routerLink="/admin/editar">Editar producto</button>
        <button class="btn btn-success" routerLink="/admin/esconder">Reservar productos y ocultos</button>
        <button class="btn btn-success" routerLink="/admin/stock">Cantidades de los productos</button>
        <button class="btn btn-success" routerLink="/admin/registro">Registro de compras</button>
        <button class="btn btn-warning" (click)="logout()">Cerrar sesión</button>
    </div>

    <img    src="/assets/login-img/naruto-header.png" 
    alt="NarutoHeather" 
    class="naruto-img">
</div>



