





<div class="container">
    
    <img    src="/assets/login-img/volver.png" 
                    height="20" 
                    width="20"
                    routerLink="/admin/principal"
                    class="flecha_volver">

    <div class="banda_1">.</div>

    <h1>Art Anime</h1>
    <h2>Registro de compradores</h2>

    <div class="stock_contain">

        <table style="width: 90%;">

            <tr>
                <th class="tabla_principal">Cantidad comprada</th>
                <th class="tabla_principal">Nombre producto</th>
                <th class="tabla_principal">Colección</th>
                <th class="tabla_principal">Imagen</th>
                <th class="tabla_principal">Material</th>
                <th class="tabla_principal">Nombre del comprador</th>
                <th class="tabla_principal">Total venta</th>
                <th class="tabla_principal">Fecha de compra</th>
            </tr>
            
            <tr *ngFor="let item of arregloRegistro">
                <td>{{ item.cantidadComprado }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.coleccion }}</td>
                <td><img [src]="item.funkoImage"></td>
                <td>{{ item.material }}</td>
                <td>{{ item.nombreComprador }}</td>
                <td>{{ item.priceTotal }}</td>
                <td class="fecha">{{ item.createdAt }}</td>
            </tr>
        </table>
        <hr>
        
        <div class="banda_2">.</div>
    </div>
    <p>Total vendido: ${{ totalVendido() }}</p>
    <p>Número de productos vendidos totales: {{ sumaProductosVendidos }}</p>
    <p>Colección que vende mas productos diferentes: {{ coleccionMayoritaria }}</p>
</div>
